.signInButton {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--color-gray-850);
	border-radius: 3rem;
	border: 0;

	color: var(--color-white);

	font-weight: bold;
	height: 3rem;
	padding: 0 1.5rem;

	svg {
		height: 20px;
		width: 20px;
	}

	svg:first-child {
		margin-right: 1rem;
	}

	transition: filter 0.5s;
	/* reducing brightness for hover effect in 20%*/
	&:hover {
		filter: brightness(0.8);
	}

	svg.closeIcon {
		margin-left: 1rem;
	}
}
