.subscribeButton {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 6.4rem;
	width: 26rem;

	background: var(--color-yellow-500);
	border-radius: 3.2rem;
	border: 0;
	color: var(--color-gray-900);
	font-size: 2rem;
	font-weight: bold;
	padding: 0 4.8rem;

	transition: filter 0.5s;

	&:hover {
		filter: brightness(0.8);
	}
}
