.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 2rem;
}

.post {
	max-width: 720px;
	margin: 5rem auto 0;
}

.post__title {
	font-size: 3.5rem;
	font-weight: 900;
}

.post__time {
	display: block;
	font-size: 1.6rem;
	color: var(--color-gray-300);
	margin-top: 1.5rem;
}

.post__content {
	margin-top: 2rem;
	line-height: 2rem;
	font-size: 1.4rem;
	color: var(--color-gray-100);

	p,
	ul {
		margin: 1.5rem 0;

		li {
			margin: 0.5rem 0;
		}
	}
}

.post__content--preview {
	// -- applying effect on the text
	background: linear-gradient(var(--color-gray-100), transparent);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.continue-reading {
	padding: 3.2rem;
	text-align: center;
	background: var(--color-gray-850);
	border-radius: 100px;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 6.4rem 0 3.2rem;
}

.continue-reading__subscribe {
	color: var(--color-yellow-500);
	margin-left: 0.8rem;
	opacity: 0.8;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}
}

.continue-reading__subscribe::after {
	content: '🤗';
	margin-left: 0.5rem;
}
