.contentContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: calc(
		100vh - 8rem
	); /*to center content, substract de vh available less the hight of the nav bar*/
	margin: 0 auto;
	max-width: 1120px;
	padding: 0 3.2rem;
}

.hero {
	max-width: 600px;

	> span {
		/* selecting only de first level of span '>',direct child, so don't reach <span> inside de <p>*/
		font-size: 2.4rem;
		font-weight: bold;
	}

	h1 {
		font-size: 7.2rem;
		line-height: 7.2rem;
		font-weight: 900;
		margin-top: 4rem;

		span {
			color: var(--color-cyan-500);
		}
	}

	p {
		font-size: 2.4rem;
		line-height: 4rem;
		margin-top: 2.4rem;

		span {
			color: var(--color-cyan-500);
			font-weight: bold;
		}
	}

	button {
		margin-top: 4rem;
	}
}
