.headerContainer {
	border-bottom: 1px solid var(--color-gray-800);
	height: 8rem;
}

.headerContent {
	display: flex;
	align-items: center;

	height: 8rem;
	margin: 0 auto;
	max-width: 1120px;
	padding: 0 3.2rem;

	nav {
		margin-left: 8rem;
		height: 8rem;

		a {
			display: inline-block;
			position: relative;
			padding: 0 0.8rem;
			height: 8rem;
			line-height: 8rem;
			color: var(--color-gray-300);

			transition: color 0.5s;
			/* after the first <a> apply margin-left:2rem*/
			& + a {
				margin-left: 3.2rem;
			}

			&:hover {
				color: var(--color-white);
			}

			&.active {
				color: var(--color-white);
				font-weight: bold;
			}

			/** even if you don't use 'content', using ::after or ::before
			you must explicitly set content=''*/
			&.active::after {
				content: '';
				height: 3px;
				border-radius: 3px 3px 0 0;
				width: 100%;
				position: absolute;
				bottom: 1px;
				left: 0;
				background: var(--color-yellow-500);
			}
		}
	}

	button {
		margin-left: auto;
	}
}
